Flask==2.2.5
Werkzeug==2.2.2
psycopg2-binary==2.9.9
gunicorn==21.2.0
python-dotenv==1.0.0
requests==2.33.0
opentelemetry-distro==0.51b0
opentelemetry-exporter-otlp==1.30.0
opentelemetry-instrumentation-flask==0.51b0
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-psycopg2==0.51b0